/*
 * SPDX-FileCopyrightText: 2022 Gleb Smirnov <glebsmirnov0708@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

*:disabled image {
    opacity: 0.5;
}

calendar {
    border: none;
}

list.diary-sidebar row {
    transition: padding 0.1s;
    padding: 5px;
}

leaflet.folded list.diary-sidebar row {
    padding: 10px;
}

.title-entry {
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 600;
    padding: 24px 0px 5px 0px;
}

box.editor-box box,
box.editor-box textview.editor {
    transition: padding 0.1s;
    padding-left: 100px;
    padding-right: 100px;
}

leaflet.folded box.editor-box box,
leaflet.folded box.editor-box textview.editor {
    padding-left: 30px;
    padding-right: 30px;
}

textview.editor {
    font-size: 14pt;
}

searchbar box {
    background: none;
    box-shadow: none;
}

headerbar {
    background: none;
    box-shadow: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease-in-out 0.0s;
}

headerbar:hover:not(.flat) {
    border-bottom: 1px solid alpha(@borders, 0.9);
}

.red-accent radio {
    background-color: @red_1;
}

.orange-accent radio {
    background-color: @orange_3;
}

.yellow-accent radio {
    background-color: @yellow_4;
}

.green-accent radio {
    background-color: @green_3;
}

.lightblue-accent radio {
    background-color: @blue_2;
}

.blue-accent radio {
    background-color: @blue_3;
}

.purple-accent radio {
    background-color: @purple_2;
}
